@font-face {
    font-family: "Poppins-regular";
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-bold";
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-bolder";
    src: url(./assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: "Bebas";
    src: url(./assets/fonts/BebasNeue-Regular.ttf);
}

*,::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins-regular",sans-serif;
}

body{
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
}

h1,h2,h3,h4,h5,h6{
    font-family: "Poppins-bolder",sans-serif;
    color:#fff;
}
p{
    color:#fff;
}